python-dotenv
requests
sentence-transformers
pinecone
pandas
langchain
langchain-openai
openai
google-generativeai==0.8.5
google-generativeai
# google-genai  # For Gemini TTS functionality
google-api-python-client==2.178.0
google-auth==2.40.3
google-oauth2-tool
